.landing_section {
  background-image: url("/src/assets/img/theme/back_2.jpg");
  min-height: 100vh;
}

.hero {
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;

    &__image {
      max-width: 400px;
    }
  }
}

.airbnb-ads {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
  }
}

.navbar-transparent .navbar-nav .nav-link {
  > a {
    color: #4c4c4c;
  }
}
